@import url('https://fonts.googleapis.com/css2?family=Antic&family=Caveat:wght@400..700&family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ms+Madi&family=Norican&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Petit+Formal+Script&display=swap');

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-ExtraLight.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Black.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Light.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Bold.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Medium.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Regular.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BR Sonoma';
  src: url('../fonts/br-sonoma/BRSonoma-Thin.woff2') format('woff2'),
       url('../fonts/br-sonoma/BRSonoma-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
