@import "../../assets/styles/variables";

.input {
  color: #03050F;
  padding-left: 18px;
  border-radius: 4.01px;
  border: solid 1px $borderColor;
  height: 40px;
  border-radius: 8px;
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  &::placeholder {
    color: #5E6488;
  }
}

.inputDouble {
  color: black;
  padding-left: 18px;
  border-radius: 4.01px;
  border: solid 1px $borderColor;
  height: 37px;
  border-radius: 0px 8px 8px 0px;
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  &::placeholder {
    color: #5E6488;
  }
}

.btnSubmit {
  margin-top: 15px !important;
  border-radius: 40px !important;
  font-size: 20px !important;
  background-color: #03050F !important;
  color: black;
  font-weight: bold;
  height: 64px;
  width: 70%;
  text-transform: capitalize !important;
}

.progress {
  width: 20;
  height: 20;
  color: black;
}

.message__error {
  font-size: 12px;
  margin-top: 9px;
  color: $secondaryColor;
}

.select {
  border: solid 0px $borderColor !important;
  font-size: 14px !important;
  height: 50px;
  color: black !important;
  outline: none;
}

.selectError {
  border: 1px solid $secondaryColor;
}

.icon {
  color: black;
}

.ctn__input_pattern {
  position: relative;
  font-size: 12px;
  color: #03050F !important;
  .labelWithValue {
    position: absolute;
    top: 12px;
    left: 18px;
    color: #5E6488;
    font-size: 12px;
  }
  .labelWithoutLabel {
    position: absolute;
    top: 23px;
    left: 18px;
    color: #5E6488;
    font-size: 14px;
  }
}


@media (max-width: 600px) {
  .btnSubmit {
    width: 100%;
  }
}